/* Progress bar styles - width set via CSS variable --progress-width (set via data attribute in component) */
.progressTrack {
  width: 6rem;
  height: 0.5rem;
  border-radius: 9999px;
}

.progressTrackIndustry {
  background-color: rgb(229 231 235);
}

.progressFillIndustry {
  height: 0.5rem;
  border-radius: 9999px;
  background-color: rgb(37 99 235);
  width: var(--progress-width, 0%);
}

.progressTrackTeamSize {
  background-color: rgb(229 231 235);
}

.progressFillTeamSize {
  height: 0.5rem;
  border-radius: 9999px;
  background-color: rgb(22 163 74);
  width: var(--progress-width, 0%);
}

.progressTrackPriority {
  background-color: rgb(229 231 235);
}

.progressFillPriority {
  height: 0.5rem;
  border-radius: 9999px;
  background-color: rgb(147 51 234);
  width: var(--progress-width, 0%);
}
